* {
    font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
#sign-out-color {
    color: red !important;
    text-shadow: 0px 1px 1px red;
}

.bg-header {
    color: red;
}
p {
    margin-bottom: 0;
}
.navbar-dark .navbar-nav .nav-link {
    color: #343c55 !important;
    font-size: larger;
}

.navbar-expand-sm .navbar-collapse {
    justify-content: flex-end;
}

.nav-item {
    margin-right: 1.5rem;
}

.nav-border {
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.container {
    padding: 0;
}

.container-fluid {
    padding: 0;
}

.center-tag {
    margin: 0 auto;
}

.navbar-body {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 12px;
    padding: 0 10px;
}

.d-flex {
    margin: 0 auto;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.search-item {
    padding: 0.75rem;
    margin-left: 0px;
    height: 100%;
    width: 20%;
}

.search-item:not(:nth-last-child(-n+2)) {
    border-right: 1px dashed rgb(219 221 225);
}

.btn-custom {
    border-radius: 8px;
    color: #fff;
    background-color: #007cc2;
}


.dropdown-item:hover {
    cursor: pointer;
}

.rooms {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.view-detail {
    width: 30%;
    height: 80%;
    border: 1px dashed rgb(219 221 225);
    margin: 0.5rem;
    border-radius: 10px;
    padding: 3.5% 2%;
    background-color: rgb(241 248 234);
}

.view-detail > p {
    font-size: smaller;
}

.view-detail-btn:hover {
    color: #fff;
}

.view-detail-btn:hover {
    display: inline-block !important;
    margin-left: 5px !important;
    transition: margin-left 0.5s;
}


.customer {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 12px;
    padding: 1rem;
    margin-top: 0.5rem;
    position: relative;
}

.customer > .remove {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.form-group {
    padding: 5px;
}

.reservation-check-table, th, tr, td {
    border: 1px solid black;
}