* {
    font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
#sign-out-color {
    color: red !important;
    text-shadow: 0px 1px 1px red;
}

.bg-header {
    color: red;
}
p {
    margin-bottom: 0;
}
.navbar-dark .navbar-nav .nav-link {
    color: #343c55 !important;
    font-size: larger;
}

.navbar-expand-sm .navbar-collapse {
    justify-content: flex-end;
}

.nav-item {
    margin-right: 1.5rem;
}

.nav-border {
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.container {
    padding: 0;
}

.container-fluid {
    padding: 0;
}

.center-tag {
    margin: 0 auto;
}

.navbar-body {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 12px;
    padding: 0 10px;
}

.d-flex {
    margin: 0 auto;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.search-item {
    padding: 0.75rem;
    margin-left: 0px;
    height: 100%;
    width: 20%;
}

.search-item:not(:nth-last-child(-n+2)) {
    border-right: 1px dashed rgb(219 221 225);
}

.btn-custom {
    border-radius: 8px;
    color: #fff;
    background-color: #007cc2;
}


.dropdown-item:hover {
    cursor: pointer;
}

.rooms {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.view-detail {
    width: 30%;
    height: 80%;
    border: 1px dashed rgb(219 221 225);
    margin: 0.5rem;
    border-radius: 10px;
    padding: 3.5% 2%;
    background-color: rgb(241 248 234);
}

.view-detail > p {
    font-size: smaller;
}

.view-detail-btn:hover {
    color: #fff;
}

.view-detail-btn:hover {
    display: inline-block !important;
    margin-left: 5px !important;
    transition: margin-left 0.5s;
}


.customer {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 12px;
    padding: 1rem;
    margin-top: 0.5rem;
    position: relative;
}

.customer > .remove {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.form-group {
    padding: 5px;
}

.reservation-check-table, th, tr, td {
    border: 1px solid black;
}

.auto-fill {
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0.35rem;
    border-radius: 10px;
    margin-left: 8.5rem;
    cursor: pointer;
}

.auto-fill:active {
    background-color: #967e4d;
    color: white;
}

.checkbox {
  display: none;
}

.slider {
  width: 53px;
  height: 25px;
  background-color: lightgray;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: 3px solid transparent;
  transition: .3s;
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.25) inset;
  cursor: pointer;
}

.slider::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: translateX(-30px);
  border-radius: 20px;
  transition: .3s;
  box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
}

.checkbox:checked ~ .slider::before {
  transform: translateX(30px);
  box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
}

.checkbox:checked ~ .slider {
  background-color: #2196F3;
}

.checkbox:active ~ .slider::before {
  transform: translate(0);
}

.switch {
    display: flex;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

div.booked-rooms {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-radius: 12px;
    position: relative;
}

.plan {
    border-radius: 16px;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #fff;
    color: #697e91;
    width: 28%;
    margin-right: 5%;
    margin-bottom: 1.5rem;
  }
  
  .plan strong {
    font-weight: 600;
    color: #425275;
  }
  
  .plan .inner {
    /* align-items: center; */
    padding: 20px;
    padding-top: 40px;
    background-color: #ecf0ff;
    border-radius: 12px;
    position: relative;
    height: 100%;
  }

  .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .plan .pricing {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #bed6fb;
    border-radius: 99em 0 0 99em;
    display: flex;
    align-items: center;
    padding: 0.625em 0.75em;
    font-size: 1.25rem;
    font-weight: 600;
    color: #425475;
  }
  
  .plan .pricing small {
    color: #707a91;
    font-size: 0.75em;
    margin-left: 0.25em;
  }
  
  .plan .title {
    font-weight: 700;
    font-size: 2rem;
    color: #425675;
    margin: 0;
  }
  
  .plan .title + * {
    margin-top: 0.75rem;
  }
  
  .plan .info + * {
    margin-top: 1rem;
  }
  
  .plan .features {
    display: flex;
    flex-direction: column;
  }
  
  .plan .features li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .plan .features li + * {
    margin-top: 0.75rem;
  }

  .features, .plan p {
    margin: 0;
  }
  .features {
    margin-top: 0.5rem;
  }
  
  .plan .features .icon {
    background-color: #1FCAC5;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
  
  .plan .features .icon svg {
    width: 14px;
    height: 14px;
  }
  
  .plan .features + * {
    margin-top: 1.25rem;
  }
  
  .plan .action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  
  .plan .button {
    background-color: #6558d3;
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
    font-size: 1.125rem;
    text-align: center;
    border: 0;
    outline: 0;
    width: 100%;
    padding: 0.625em 0.75em;
    text-decoration: none;
    margin-top: 1rem;;
  }
  
  .plan .button:hover, .plan .button:focus {
    background-color: #4133B7;
  }

.room-info {
    padding: 17px 0 17px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 15px;
}