{% extends 'layouts/base.html' %} {% block title %}Booking room - Elite-Hotel{%
endblock %} {% block content %}
<div class="row">
    <div class="col-md-6 col-xs-12" style="margin-right: 3rem;">
        <!--        <h3>{{room.name}} with Elite-Hotel best services</h3>-->

        <div
                class="img mt-2"
                style="
        padding: 0.75rem;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        display: flex;
        align-items: center;
        justify-content: center;
      "
        >
            <img
                    style=""
                    width="100%"
                    src="{{ url_for('static', filename=room.image) }}"
                    alt=""
            />
        </div>
        <div class="price">
            <p class="mt-2" style="font-size: larger; color: red;"><i class="fa-solid fa-dong-sign"></i> <i>{{
                "{:,.1f}".format(room.price) }}/<b>2 persons</b></i></p>
            <p style="color: green" class="mt-3">
                <i>
                    For <b>{{ room.name }}</b>, there is
                    <b>{{ room.room_type }}</b> available. Please ensure you select the
                    appropriate room based on your requirements. We hope you have a
                    wonderful time at Elite-Hotel!
                </i>
            </p>
        </div>
    </div>
    <div class="col-md-5 col-xs-12">
        <form method="POST" class="form-group booking-info">
            {% if current_user.is_authenticated %}
            <div class="first-customer customer">
                <label><b>CUSTOMER 1</b></label>

                <label style="display: block" class="mt-1" for="cus1">Name</label>
                <input
                        name="customerName1"
                        id="cus1"
                        type="text"
                        class="form-control mt-2"
                        value="{{ current_user.name }}"
                        readonly
                />

                <label style="display: block" class="mt-1" for="idNum1"
                >Identification number</label
                >
                <input
                        name="customerIdNum1"
                        id="idNum1"
                        type="number"
                        class="form-control mt-2"
                        value="{{ current_user.identification }}"
                        readonly
                />

                <label style="display: block" class="mt-2" for="cus1-type"
                >Customer Type</label
                >
                <select class="form-control mt-2" name="customerType1" id="cus1-type">
                    <option>{{ customer_type }}</option>
                </select>
            </div>
            <div class="rest-customer">

            </div>
            {% if room.capacity > 1 %}
            <input
                    style="margin-left: 67.5%;"
                    onclick="addCustomer({{ room.capacity }}, {{ role_cus }})"
                    type="button"
                    class="addCustomer-btn btn btn-custom mt-3"
                    value="+ Add customer"
            />
            {% endif %}

            <label style="display: block" class="mt-3" for="checkin"
            ><b><i>Choose checkin time</i></b></label
            >
            <input
                    id="checkin"
                    type="datetime-local"
                    name="checkin"
                    class="form-control"
            />
            <label class="mt-2" for="checkout"
            ><b><i>Choose checkout time</i></b></label
            >
            <input
                    id="checkout"
                    type="datetime-local"
                    name="checkout"
                    class="form-control"
            />


            <input
                    style="margin-bottom: 3rem; margin-left: 83%;"
                    type="submit"
                    class="form-group mt-3 btn btn-custom"
                    value="Check"
            />
        </form>
    </div>

</div>

{% else %}
<p class="text-danger">
    <b><i>PLEASE LOGIN TO BOOK ROOM!</i></b>
</p>
{% endif %}

<script>
    count = 1;

    const deleteCustomer = (obj) => {
      count--;
      document.querySelector('.addCustomer-btn').style.display = 'block'
      const divParent = obj.parentNode.parentNode.id;
      
      for (
        var i = 0;
        i < document.querySelectorAll("div.rest-customer > div").length;
        i++
      ) {
        if (
          document.querySelectorAll("div.rest-customer > div")[i].id === divParent
        ) {
          document.querySelectorAll("div.rest-customer > div")[i].remove();
        }
      }
      render_index();
    };

    const addCustomer = (capacity, roleCus) => {
      if (count < capacity) {
        count++;

        var addedCustomer = document.createElement("div");
        addedCustomer.id = `nth${count}-customer`;
        addedCustomer.innerHTML = `<div class='customer'>
                                <div onclick='deleteCustomer(this)' class='remove'><i style='font-size: 24px; color: red;' class="fa-solid fa-xmark"></i></div>

                                <label style="display: block" class="mt-3"><b>CUSTOMER <span class='index'>${count}</span></b></label>

                                <label style="display: block;" class="mt-1" for="cus${count}">Name</label>

                                <input name="customerName${count}" id="cus${count}" type="text" class="form-control mt-2 name">

                                <label style="display: block" class="mt-1" for="idNum${count}">Identification number</label>
                                <input
                                        name="customerIdNum${count}"
                                        id="idNum${count}"
                                        type="number"
                                        class="form-control mt-2 idNum"
                                />

                                <label style="display: block;" class="mt-2" for="cus${count}-type">Customer Type</label>

                                <select class="form-control mt-2 customer-type" name="customerType${count}" id="cus${count}-type">

                                    {% for r in role_cus %}
                                    <option>{{ r }}</option>
                                    {% endfor %}
                                </select>
                            </div>`;

        document.querySelector("div.rest-customer").appendChild(addedCustomer);
      }
      if(count === capacity) {
        document.querySelector('.addCustomer-btn').style.display = 'none'
      }
      
    };

    const render_index = () => {
      addedCustomer = document.querySelectorAll("div.rest-customer > div");
      
      for (var i = 2; i <= addedCustomer.length + 1; i++) {
        document.querySelectorAll('div.rest-customer > div .idNum')[i-2].name = `customerIdNum${i}`

        document.querySelectorAll("div.rest-customer > div .index")[i-2].innerText = `${i}`;

       

        document.querySelectorAll("div.rest-customer > div .name")[i-2].name = `customerName${i}`;
        document.querySelectorAll("div.rest-customer > div .customer-type")[i-2].name = `customerType${i}`;
        
      }
      console.log(addedCustomer)
    };

</script>
{% endblock %}
