{% extends 'layouts/base.html' %} {% block title %}Booking room - Elite-Hotel{%
endblock %} {% block content %}
<div class="row">
    <div class="col-md-5 col-xs-12">
        <form method="POST" class="form-group booking-info">
            {% if current_user.is_authenticated %}
            <div class="first-customer customer">
                <label><b>CUSTOMER 1</b></label>

                <label style="display: block" class="mt-1" for="cus1">Name</label>
                <input
                        name="customerName1"
                        id="cus1"
                        type="text"
                        class="form-control mt-2"
                        value="{{ current_user.name }}"
                        readonly
                />

                <label style="display: block" class="mt-2" for="cus1-type"
                >Customer Type</label
                >
                <select class="form-control mt-2" name="customerType1" id="cus1-type">
                    <option>{{ customer_type }}</option>
                </select>
            </div>
            <div class="rest-customer"></div>

            <label class="mt-3" for="checkin"><b><i>Choose checkin time</i></b></label>
            <input id="checkin" type="datetime-local" name="checkin" class="form-control">
            <label for="checkout"><b><i>Choose checkout time</i></b></label>
            <input id="checkout" type="datetime-local" name="checkout" class="form-control mt-2">
            {% if room.capacity > 1 %}
            <input
                    onclick="addCustomer({{ room.capacity }}, {{ role_cus }})"
                    type="button"
                    class="btn btn-custom"
                    value="+ Add customer"
            />
            {% endif %}

            <input
                    style="margin-bottom: 3rem"
                    type="submit"
                    class="form-group mt-3 btn btn-custom"
                    value="Book room"
            />
        </form>
    </div>
    <div class="col-md-7 col-xs-12">
        <!--        <h3>{{room.name}} with Elite-Hotel best services</h3>-->
        <p style="color: green" class="mt-5">
            <i>
                For <b>{{ room.name }}</b>, there is
                <b>{{ room.room_type }}</b> available. Please ensure you select the
                appropriate room based on your requirements. We hope you have a
                wonderful time at Elite-Hotel!
            </i>
        </p>
        <div
                class="img mt-2"
                style="
        padding: 0.75rem;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        display: flex;
        align-items: center;
        justify-content: center;
      "
        >
            <img
                    style=""
                    width="100%"
                    src="{{ url_for('static', filename=room.image) }}"
                    alt=""
            />
        </div>
    </div>
</div>

{% else %}
<p class="text-danger">
    <b><i>PLEASE LOGIN TO BOOK ROOM!</i></b>
</p>
{% endif %}

<script>
    count = 1;

    const deleteCustomer = (obj) => {
      count--
      const divParent = obj.parentNode.parentNode.id;
      for (
        var i = 0;
        i < document.querySelectorAll("div.rest-customer > div").length;
        i++
      ) {
        if (
          document.querySelectorAll("div.rest-customer > div")[i].id === divParent
        ) {
          document.querySelectorAll("div.rest-customer > div")[i].remove();
        }
      }
      render_index()
    };

    const addCustomer = (capacity, roleCus) => {
      if (count < capacity) {
        count++;

        var addedCustomer = document.createElement("div");
        addedCustomer.id = `nth${count}-customer`;
        addedCustomer.innerHTML = `<div class='customer'>
                              <div onclick='deleteCustomer(this)' class='remove'><i style='font-size: 24px; color: red;' class="fa-solid fa-xmark"></i></div>

                              <label style="display: block" class="mt-3"><b>CUSTOMER <span class='index'>${count}</span></b></label>

                              <label style="display: block;" class="mt-1" for="cus${count}">Name</label>

                              <input name="customerName${count}" id="cus${count}" type="text" class="form-control mt-2 name">

                              <label style="display: block;" class="mt-2" for="cus${count}-type">Customer Type</label>

                              <select class="form-control mt-2 customer-type" name="customerType${count}" id="cus${count}-type">

                                  {% for r in role_cus %}
                                  <option>{{ r }}</option>
                                  {% endfor %}
                              </select>
                          </div>`;

        document.querySelector(
          "div.rest-customer"
        ).appendChild(addedCustomer)
      }
    };

    const render_index = () => {
        addedCustomer = document.querySelectorAll('div.rest-customer > div')
        console.log(addedCustomer)
        for(var i = 2; i < addedCustomer.length + 2; i++) {
          document.querySelector('div.rest-customer > div .index').innerText = `${i}`
          document.querySelector('div.rest-customer > div .name').name = `customerName${i}`
          document.querySelector('div.rest-customer > div .customer-type').name = `customerType${i}`
        }
    }
</script>
{% endblock %}
