{% extends 'layouts/base.html' %}
{% block title %}User Login{% endblock %}

{% block content %}
<h1 style="text-align: center; color: #1a1aff; font-weight: bold;">FORGOT PASSWORD</h1>

{% if err_msg %}
<div class="alert alert-danger">
    <h4>{{ err_msg }}</h4>
</div>
{% endif %}

{% if notice %}
<div class="alert alert-primary">
    <h4>{{ notice }}</h4>
</div>
{% endif %}

{% if done_otp != "1"%}
<form style="width: 50%; margin: 0 auto; margin-top: 3rem;" method="post" action="{{ url_for('user_reset_password') }}">
    <div class="form-group" style="padding-bottom: 10px;">
        <label><i class="fa-solid fa-user"></i> Username:</label>
        {% if current_user.is_authenticated %}
            <input type="text" name="username" class="form-control" placeholder="{{ current_user.username }}" value="{{ current_user.username }}" readonly required>
        {% else %}
            <input type="text" name="username" class="form-control" placeholder="Input Username" required>
        {% endif %}
    </div>

    <div class="form-group" style="padding-bottom: 10px;">
        <div style="left: auto;">

            <button style="padding: 5px; margin-bottom: 10px;" class="btn btn-primary mt-2" type="submit">
                Send OTP
            </button>
        </div>
    </div>
</form>

{% else %}
<form style="width: 50%; margin: 0 auto; margin-top: 3rem;" method="post"
      action="{{ url_for('user_confirm_password') }}">
    <div class="form-group" style="padding-bottom: 10px;">
        <label for="otp"><i class="fa-solid fa-user"></i> Code OTP:</label>
        <input type="text" name="otp" class="form-control" placeholder="Input Code OTP" id="otp" minlength="6" required>
    </div>

    <div class="form-group" style="padding-bottom: 6px;">
        <label for="password"><i class="fa-solid fa-lock"></i> New Password:</label>
        <input type="password" name="password" class="form-control" placeholder="Input Password" id="password" minlength="6" required>
    </div>

    <div class="form-group" style="padding-bottom: 6px;">
        <label for="confirm"><i class="fa-solid fa-lock"></i> Confirm Password:</label>
        <input type="password" name="confirm" class="form-control" placeholder="Input Confirm Password" id="confirm" minlength="6" required>
    </div>

    <button class="btn btn-primary mt-2" type="submit">
        <i class="fa-regular fa-circle-user"></i> Change Password
    </button>
</form>
{% endif %}

{% endblock %}