{% extends 'layouts/base.html' %}
{% block title %}User Login{% endblock %}

{% block content %}
<h1 style="text-align: center; color: #1a1aff; font-weight: bold;">FORGOT PASSWORD PAGE</h1>

    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" name="username" class="form-control" placeholder="Input Username" id="username">
    </div>
    <div class="form-group" style="display: none;">
        <label for="password">Password:</label>
        <input type="password" name="password" class="form-control" placeholder="Input Password" id="password">
    </div>
    <button style="margin-top: 10px;" type="submit" onclick="UserLogin()" class="btn btn-primary">Submit</button>
</form>

{% endblock %}