{% extends 'layouts/base.html' %}
{% block title %} Renting room - Elite-Hotel {% endblock %}
{% block link %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
{% if err_msg %}
<div class="alert alert-danger">
    <h4>{{ err_msg }}</h4>
</div>
{% endif %}
<div id="payment" class="">
    <h1>Payment Successful</h1>
    <p>Thank you for your payment!</p>

    <h2>Receipt Information</h2>
    <p style="font-size: 16px">Customer name: {{ customer.name }}</p>
    <p style="font-size: 16px">Room name: {{ room.name }}</p>
    <p style="font-size: 16px">Checkin date: {{ rental_room.checkin_date }}</p>
    <p style="font-size: 16px">Checkout date: {{ rental_room.checkout_date }}</p>
    <p style="font-size: 16px">Total: {{ receipt.total_price }} VND</p>

    <button onclick="handleBack()" style="margin-top: 20px" class="btn btn-primary">Back to Manage page</button>
</div>
 <script>
    const handleBack = () => {
        const url = `/renting-room`
        window.location.href = url;
    }
 </script>
    {% endblock %}